* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #9c1328;
    color: white;
    text-align: center;
    padding: 20px;
 }

 nav {
    background-color: #d73e3e;
    padding: 10px;
    text-align: center;
 }

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.form-section {
    background-color: #e0e6e3;
    padding: 20px;
    width: 65%;
    border-radius: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px; 
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.sidebar {
    background-color: #BDC3C7;
    padding: 20px;
    width: 34%;
    border-radius: 10px;
}

h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 80px;
    resize: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

hr {
    border: none;
    height: 1px;
    background-color: #999;
    margin: 20px 0;
}